h1{
    color:brown
}
#original{
    color:aqua
}
.coding{
    color:blueviolet
}
h5.coding{
    color:brown
}
h3#original{
    color:palevioletred
}
div p{ /* 부모 요소 내의 특정 자식 요소 */
    color : darkcyan
}
p.coding{
    color:burlywood;
}
/* div{
    margin : 20px 30px; 20: 상하 30 : 좌우 
    margin : 20px 10px 20px 10px;  상 우 하 좌 /위쪽부터 시계방향으로 이동 
    margin-top: 20px;
    margin-bottom: 0%;
    margin-left: 15px;
    margin-right: 12px;  같은 역할 

    border : 6px solid blue;

    padding: 4px 6px 4px 6px;  마진과 같음 
 } */ 

/* div{
    box-sizing: content-box;  요소 사이즈에 패딩과 테두리 포함x 내용크기만 해당 
    width:100px;  내용 크기만 100픽셀 
    padding:5px;
} */

/* div{
    box-sizing: border-box;  요소 사이즈에 패딩과 테두리 포함o 모든 요소 포함
    width:100px;  내용부터 테두리까지 100픽셀이 되도록 
    padding:5px 
} */

/* 내용 -> 패딩 -> 테두리(border) -> 여백(margin) */