/* div.outer{
    width : 20px
 } */
/* div.inner{
    width: 2em; //  부모의 크기에 따라 달라짐
    // 지금은 20 * 2px
} */

/* html{
    font-size:20px;
 } */

 /* div.inner{
    width : 5rem // 전체 크기에 따라 달라짐
    // 지금은 20* 5px
  }
   */

   /* div.expand{
    height: 100vh;
    // 보는 화면에서 높이는 100%로 커져라
    // 스크롤을 내려야만 다른 컨텐츠 확인 가능
    } */